<div class="jumbotron text-center">
    <p>Choose left or right for what you like/agree with</p>  


	<div class="media">
		<a ng-click="toggleImage()"><img style="width:100%" id="followbutton" ng-src="{{proposition[propositionID].url}}"/></a>
	</div>
		
	<a ui-sref="session" class="button btn-primary" type="button" ng-click="propositionClicked(0)" value="Left">Left</a>
	<a ui-sref="session" class="button btn-primary" type="button" ng-click="propositionClicked(1)" value="Right">Right</a>
</div>

<div ui-view></div>
