<div class="container text-center">
	<div class="media">
		<img style="width:70%" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="propositionClicked(1)" ng-swipe-left="propositionClicked(0)"
         ng-hide="" ng-src="{{propositionID}}"/>
	</div>

	<!--// Buttons are still here-->
	<a ui-sref="home" class="button btn-primary" type="button" ng-click="propositionClicked(0)" value="Left">Left</a>
	<a ui-sref="home" class="button btn-primary" type="button" ng-click="propositionClicked(1)" value="Right">Right</a>
</div>
